<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/libs/assets/css/main.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/libs/jquery.js"></script>
    <script src="/static/libs/assets/js/scripts.min.js"></script>
    <script src="/static/api_calls/AjaxCallBase.js"></script>
    <script src="/static/api_calls/APIAjaxCalls.js"></script>
    <script>
      $( document ).ready(function (){
        
        $("#botonJapi").click(function() {

          var texto_prueba = $("#txtPrueba").val();
          var req_data = {culo: texto_prueba};
          
          culueando = new culoClass(req_data, success_lala, error_lala);
          culueando.sendAjaxRequest();
        });
        
        var success_lala = function(response_data) {
          alert("Succediendo of the " + response_data);
        }

        var error_lala  = function(response_data) {
          alert("Erroreando con " + response_data);
        }
        
      });
    </script>
</head>
<body class="mi_pago">
    <nav class="navbar navbar-start navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header container">
          <img id="logo" class="img-responsive" href="#" src="./static/libs/assets/img/Logo.png"></img>
          <!--  <a class="navbar-text pull-right" href="#">User</a> -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>

    <div class="title">
      <h1>Iniciar Sesión</h1>
      <h2>Por favor, inicie sesión para continuar</h2>
    </div>
    <div class="container">
      <div class="input-button-group">
        <input type="text" class="well input-button-size" placeholder="Usuario">
        <input type="password" class="well input-button-size" placeholder="Contraseña">
        <a href="#">Olvidaste tu contraseña?</a>
        <a href="test"><button type="button" class="btn btn-primary btn-lg input-button-size button-green">Ingresar</button></a>
        <a href="test"><button type="button" class="btn btn-primary btn-lg input-button-size button-black">Registrarse</button></a>
        <a href="test"><button type="button" class="btn btn-primary btn-lg input-button-size button-skyblue">Ingresar con Google</button></a>
      </div>
    </div>


    <!--
    <button id="botonJapi">El boton</button>
    <input type="text" id="txtPrueba">  -->
</body>
</html>