<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/libs/assets/css/main.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/libs/jquery.js"></script>
    <script src="/static/libs/assets/js/scripts.js"></script>
    <script src="/static/libs/assets/js/scripts.min.js"></script>
    <script src="/static/api_calls/AjaxCallBase.js"></script>
    <script src="/static/api_calls/APIAjaxCalls.js"></script>
    <script src="/static/cardReaderApi/CardReader.js"></script>
    <script>
      $( document ).ready(function (){

        cardReader = new CardReader(middleFunction, leftFunction, rightFunction, null, dataReception, null);
        cardReader.startReading();        
      });
    </script>

</head>
<body class="mi_pago">

<!--
    NAVBAR -->

    <nav class="navbar navbar-session navbar-default" role="navigation">
      <div class="container-fluid">
        <img id="logo" class="img-responsive pull-left" href="#" src="./static/libs/assets/img/Logo.png"></img>
        <span class="navbar-text pull-right user-logged">
          <span class="glyphicon glyphicon-user"></span>
            <a id="navbar-username" href="#">User</a>
        </span>
      </div><!-- /.container-fluid -->
    </nav>

<!--
    TITLE & OPTION MENU -->
    <div class="upper-fixed">
      <div class="title">
        <h1>Realizar venta</h1>
      </div>
      <ul class="nav nav-pills mode-option menu-ul">
        <li><a id="sale-simple" href="#">
              Venta manual
            </a>
        </li>
        <li><a id="sale-grid" href="#">
              Venta por catálogo
            </a>
        </li>     
      </ul>
    </div>

<!--
    INPUT TYPE PROCESS -->
    <div id="sale-simple-container" class="input-button-group container">
      <input id="sale-price" type="text" class="well input-button-size" placeholder="Monto">
      <textarea id="sale-description" rows="4" type="text" class="well input-button-size" placeholder="Concepto"></textarea>
    </div>    

<!--
    GRID PROCESS -->
    <div id="sale-grid-container" class="mipago-hidden">
      <ul class="grid-items-list">
        <li class="col-xs-6"> 
          <div class="grid-item">
            <img src="./static/libs/assets/img/grid-img.png">
          </div>
        </li>
        <li class="col-xs-6"> 
          <div class="grid-item">
            <img src="./static/libs/assets/img/grid-img.png">
          </div>
        </li>
        <li class="col-xs-6"> 
          <div class="grid-item">
            <img src="./static/libs/assets/img/grid-img.png">
          </div>
        </li>
        <li class="col-xs-6"> 
          <div class="grid-item">
            <img src="./static/libs/assets/img/grid-img.png">
          </div>
        </li>
      </ul>
      
    </div>


<!--
    STATUS NOTIFICATION -->
    <div class="notification-status-container">
      <div class="notification-status-text">
        <b><p></p></b>
      </div>
      <span class="notification-item col-xs-4">
        <img id="notification-unplugged" class="notification-img" src="./static/libs/assets/img/device-unplugged.png"></img>
      </span>
      <span class="notification-item col-xs-4">
        <img id="notification-plugged" class="notification-img" src="./static/libs/assets/img/device-plugged.png"></img>
      </span>  
      <span class="notification-item col-xs-4">    
        <img id="notification-reading" class="notification-img" src="./static/libs/assets/img/device-reading.png"></img>
      </span>  
    </div>

<!--
    SALE CONFIRMATION -->
    <div id="sale-confirmation" class="sale-confirmation-container mipago-hidden">
    </div>
    <div id="confirmation-content" class="mipago-hidden">
        <h1> Confimación de la venta </h1>
          <h2> Datos de la venta </h2>
            <p id="confirmation-sale-price"> Precio: $322 </p>
            <p id="confirmation-sale-description"> Descripcion: Lorem ipsum </p>
            <p id="confirmation-sale-saler"> Vendedor: miPago - Demo </p>
            <p> RUC: 12344321 </p>
          <h2> Datos de la tarjeta </h2>
            <p id="confirmation-sale-buyer"> ID comprador: Facundo Alegre </p>
            <p id="confirmation-sale-cardID"> ID tarjeta: xxx-xxxx-xxx-3124 </p>
          <h2 id="sale-fees-title"> Seleccionar cuotas </h2>
            <div id="sale-fees">
              <div class="col-xs-2"><button type="button" value="1" class="btn btn-primary btn-lg button-active button-green">1</button></div>
              <div class="col-xs-2"><button type="button" value="2" class="btn btn-primary btn-lg">2</button></div>
              <div class="col-xs-2"><button type="button" value="3" class="btn btn-primary btn-lg">3</button></div>
              <div class="col-xs-2"><button type="button" value="4" class="btn btn-primary btn-lg">4</button></div>
              <div class="col-xs-2"><button type="button" value="5" class="btn btn-primary btn-lg">5</button></div>
              <div class="col-xs-2"><button type="button" value="6" class="btn btn-primary btn-lg">6</button></div>
              <div class="col-xs-2"><button type="button" value="7" class="btn btn-primary btn-lg">7</button></div>
              <div class="col-xs-2"><button type="button" value="8" class="btn btn-primary btn-lg">8</button></div>
              <div class="col-xs-2"><button type="button" value="9" class="btn btn-primary btn-lg">9</button></div>
              <div class="col-xs-2"><button type="button" value="10" class="btn btn-primary btn-lg">10</button></div>
              <div class="col-xs-2"><button type="button" value="11" class="btn btn-primary btn-lg">11</button></div>
              <div class="col-xs-2"><button type="button" value="12" class="btn btn-primary btn-lg">12</button></div>
            </div>
        <button id="sale-button-cancel" type="button" class="btn btn-primary btn-lg input-button-size button-black">Cancelar</button>
        <button id="sale-button-send" type="button" class="btn btn-primary btn-lg input-button-size button-green">Aceptar</button>
      </div>
    </div>    

</body>

<script>
  window.onload = function() {
    startSaleMode();
  };
</script>



