<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="/static/libs/jquery.js"></script>
    <script src="/static/api_calls/AjaxCallBase.js"></script>
    <script src="/static/api_calls/APIAjaxCalls.js"></script>
    <script src="/static/cardReaderApi/CardReader.js"></script>
    <script>
      $( document ).ready(function (){

        plugin = function (message) {
          $("#feedback").html(message);
        }

        plugout = function (message) {
          $("#feedback").html(message);
        }

        cardReader = new CardReader(plugin, plugout);
        
        $("#addUser").click(function() {

          var req_data = {
            username: $("#addUserName").val(),
            name: $("#addnombre").val(),
            surname: $("#addapellido").val(),
            password: $("#addpassword").val()
          };
          
          new_user = new AddUserRequest(req_data, success_lala, error_lala);
          new_user.sendAjaxRequest();
        });

        $("#editUser").click(function() {

          var req_data = {
            id: $("#editid").val(),
            username: $("#editUserName").val(),
            name: $("#editnombre").val(),
            surname: $("#editapellido").val(),
            password: $("#editpassword").val()
          };
          
          new_user = new EditUserRequest(req_data, success_lala, error_lala);
          new_user.sendAjaxRequest();
        });

        $("#getUser").click(function() {

          var req_data = {
            username: $("#getUserName").val(),
            id: $("#getid").val(),
          };
          
          new_user = new GetUserRequest(req_data, success_lala, error_lala);
          new_user.sendAjaxRequest();
        });

        $("#deleteUser").click(function() {

          var req_data = {
            username: $("#delUserName").val(),
            id: $("#delid").val(),
          };
          
          new_user = new DeleteUserRequest(req_data, success_lala, error_lala);
          new_user.sendAjaxRequest();
        });
        
        var success_lala = function(response_data) {
          $("#respuesta").html("<b style='color:green'>"+JSON.stringify(response_data.data)+"</b>");
        }

        var error_lala  = function(response_data) {
          $("#respuesta").html("<b style='color:red'>"+JSON.stringify(response_data)+"</b>");
        }

        $("#startReading").click(function() {
            cardReader.startReading();
        });

      });
    </script>
</head>
<body>
  <button id="startReading">Start Reading</button>
  <h2 id="feedback">nada</h2>
  <h2> Nuevo usuario </h2>
  <p>email: <input type="text" id="addUserName"></p>
  <p>password: <input type="text" id="addpassword"></p>
  <p>nombre: <input type="text" id="addnombre"></p>
  <p>apellido: <input type="text" id="addapellido"></p>
  <button id="addUser">Add User</button>
  <hr>
  <h2> Editar usuario </h2>
  <p>email: <input type="text" id="editUserName"></p>
  <p>id: <input type="text" id="editid"></p>
  <p>password: <input type="text" id="editpassword"></p>
  <p>nombre: <input type="text" id="editnombre"></p>
  <p>apellido: <input type="text" id="editapellido"></p>
  <button id="editUser">Edit User</button>
  <hr>
  <h2> Pedir un usuario </h2>
  <p>email: <input type="text" id="getUserName"></p>
  <p>id: <input type="text" id="getid"></p>
  <button id="getUser">Get User</button>
  <hr>
  <h2> Borrar usuario </h2>
  <p>email: <input type="text" id="delUserName"></p>
  <p>id: <input type="text" id="delid"></p>
  <button id="deleteUser">Delete User</button>
  <hr>

  <div id='respuesta'></div>
</body>
</html>