<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/libs/assets/css/main.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/libs/jquery.js"></script>
    <script src="/static/libs/assets/js/scripts.js"></script>
    <script src="/static/libs/assets/js/scripts.min.js"></script>
    <script src="/static/api_calls/AjaxCallBase.js"></script>
    <script src="/static/api_calls/APIAjaxCalls.js"></script>

</head>
<body class="mi_pago">

<!--
    HEADER -->
    <nav class="navbar navbar-session navbar-default transaction-navbar" role="navigation">
      <div class="container-fluid">
        <img id="logo" class="img-responsive pull-left" href="#" src="./static/libs/assets/img/Logo.png"></img>
        <span class="navbar-text pull-right user-logged">
          <span class="glyphicon glyphicon-user"></span>
            <a id="navbar-username" href="#">User</a>
        </span>
      </div><!-- /.container-fluid -->
    </nav>

<!--
    TITLE -->
    <div class="title">
      <h1 class="transaction-h1">Registro de movimientos</h1>
    </div>

<!--
    POPUP WINDOW -->
    <div id="sale-confirmation" class="sale-confirmation-container mipago-hidden">
    </div>
    <div id="confirmation-content" class="finality mipago-hidden">
      <a id="close-icon" href="#"><span class="glyphicon glyphicon-remove"></span></a>
      <h1> Datos de la transacción </h1>
          <p id="confirmation-sale-time"> 12:12 </p>
          <p id="confirmation-sale-price"> Precio: $322 </p>
          <p id="confirmation-sale-description"> Descripcion: Lorem ipsum </p>
          <p id="confirmation-sale-saler"> Vendedor: miPago - Demo </p>
          <p> RUC: 12344321 </p>
          <p id="transaction-fees">Cuotas</p>
          <br>
          <p id="confirmation-sale-id"> ID de Transacción : </p>
          <p id="confirmation-sale-id-value"></p>
    </div>


<!--
    LIST OF TRANSACTIONS -->

    <ul id="transactions-container" class="nav nav-pills nav-stacked menu-ul">
      <li>
        <span class="col-xs-5 transaction-table-title">Fecha</span>
        <!--<span class="col-xs-3 transaction-table-title">ID</span> -->
        <span class="col-xs-3 transaction-table-title">Costo</span>
        <span class="col-xs-4 transaction-table-title">Estado</span>
      </li>       
    </ul>
</body>

<script>
  window.onload = function() {
    addUserToTransactionHeader();
    DisplayUserTransactions();
  };
</script>